# Runtime
pandas==2.2.2
openai==1.60.1
pebble==5.0.7
python_dotenv==1.0.1

# Run jupyter notebooks
jupyter==1.1.1

# Report metrics
scipy==1.14.1
scikit-learn==1.5.1

# Manage experiment envs
virtualenv==20.29.1
